.outside-beta-footer-container {
    width: 100%;
    height: 288px;
    padding: 0px 8.66667%;
    display: flex;
    flex-direction: column;
    background-image: url('../assets/shared/mobile/bg-beta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.beta-footer-gradient-div {
    width: 128px;
    height: 6px;
    background: linear-gradient(1.3deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
}

.inside-beta-footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 58px;
}

.inside-beta-footer-container h1 {
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 40px;
    letter-spacing: 3.15px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.inside-beta-footer-container a {
    width: 100%;
    margin-top: 24px;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 16px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 2.5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.inside-beta-footer-container a:hover {
    text-decoration: underline;
}

.inside-beta-footer-container a img {
    margin-left: 16px;
}

@media (min-width: 376px) {
    .outside-beta-footer-container {
        background-image: url('../assets/shared/tablet/bg-beta.jpg');
    }
}

@media (min-width: 550px) {
    .outside-beta-footer-container {
        flex-direction: row;
        height: 280px;
        padding: 0px;
    }

    .beta-footer-gradient-div {
        width: 6px;
        height: 280px;
        background: linear-gradient(1.3deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    }

    .inside-beta-footer-container {
        flex-direction: row;
        margin-top: 0px;
        justify-content: space-between;
        align-items: center;
    }

    .inside-beta-footer-container h1 {
        font-size: 4.0rem;
        line-height: 48px;
        letter-spacing: 4.16667px;
        margin-left: 10px;
        width: 350px;
    }

    .inside-beta-footer-container a {
        width: 169px;
        margin-top: 0px;
        margin-right: 10px;
        padding-left: 0px;
    }
}

@media (min-width:600px) {
    .inside-beta-footer-container h1 {
        margin-left: 20px;
        width: 375px;
    }

    .inside-beta-footer-container a {
        margin-right: 20px;
    }
}

@media (min-width: 650px) {
    .inside-beta-footer-container h1 {
        margin-left: 33px;
        width: 400px;
    }

    .inside-beta-footer-container a {
        margin-right: 40px;
    }
}

@media (min-width: 800px) {
    .outside-beta-footer-container {
        background-image: url('../assets/shared/desktop/bg-beta.jpg');
    }

    .inside-beta-footer-container h1 {
        margin-left: 6%;
    }

    .inside-beta-footer-container a {
        margin-right: 6%;
    }
}

@media (min-width: 925px) {
    .inside-beta-footer-container h1 {
        margin-left: 11.041667%;
    }

    .inside-beta-footer-container a {
        margin-right: 11.458333%;
    }
}